body {
    margin: 0%;
    background-color: rgb(106, 186, 252);
}

.navbar {
    border-bottom: solid 3px gray;
    height: 60px;
    background-color: white;
}

.navbuttons {
    color: white;
    background-color: rgb(38, 137, 243);
    float: right;
    border: white outset 1px;
    padding: 10px 10px;
    margin: 1% 1%;
    height: 3em;
    width: 10em;
    text-align center;
}

.text-boxes {
    display: block;
    margin: 10% auto;
    width: 90%;
    box-sizing: border-box;
    padding: 5px 5px;
    
}

.form-style {
    border: 3px outset rgb(206, 204, 204);
    margin: 10% auto;
    background-color: white;
    width: 20%;
    height: 60%;
}

.form-style2 {
    padding: 5% 5%;
    
}

.form-style2 h3 {
    padding-left: 5%;
    font-size: 22px;
}

.form-style2 button {
    display: block;
    color: white;
    background-color: blue;
    margin: 10% auto;
    width: 90%;
    padding: 5px 5px;
}

.icons {
    width: 8%;
    padding:  5%;
}